@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Montserrat", serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__first-half,
.header__second-half,
.header__nav {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.header__menu {
    display: grid;
    gap: 6px;
}

.header__menu-item {
    border: 1px solid black;
    width: 25px;
}

.header__menu-item:first-child {
    width: 15px;
}

.header__phone p {
    margin: 0;
}

.header__phone-number {
    font-size: large;
}

.header__callback {
    color: #00AEEF;
    text-decoration: underline dashed;
}

.header__button {
    border: none;
    background-repeat: no-repeat;

}

.header__button-search,
.header__button-support,
.header__button-basket,
.header__button-user {
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.header__button-search {
    background-image: url('./image/search.png');
}

.header__button-support {
    background-image: url('./image/Support.png');
}

.header__button-basket {
    background-image: url('./image/basket.png');
}

.header__button-user {
    background-image: url('./image/user.png');
}

.header__button-letter,
.intro__button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    background-color: #00AEEF;
    border: none;
    border-radius: 5px;
}

h1 {
    font-weight: 300;
}

.intro {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.intro__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}


.intro__slider {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.intro__slide {
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__image {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    display: block;
}

.intro__arrows{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.intro__arrow{
    border: none;
    width: 30px;
    height: 60px;
}

.intro__arrow-right{
    background: url(./image/arrow_right.png);
    margin-left: auto;
}

.intro__arrow-left{
    background: url(./image/arrow_right.png);
    transform: rotate(180deg);
}

.intro__arrow:hover{
opacity: 0.7;
}

.intro__circles {
    position: absolute;
    top: 90%;
    left: 50%;
    height: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
    padding: 0;
    display: flex;
    justify-self: center;
    gap: 2vh;
}

.intro__circle:hover {
    transform: scale(1.2);
}
.intro__circle{
    border-radius: 100%;
    border: none;
}

.intro__circle.active {
    background-color: #00AEEF;
    transform: scale(1.2);
}

.intro__circles div {
    border: 10px solid #F2F2F2;
    border-radius: 50%;
}

.intro__circles div:first-child {
    border-color: #00AEEF;
}

.services {
    padding: 80px 220px;
    background-color: #FCFCFC;
}

.services__title {
    font-size: 50px;
    padding-bottom: 32px;
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
}

.services__card {
    border-radius: 5px;
    padding: 1vh;
}

.services__card:hover {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgb(219, 219, 219);
}

.services__card-link {
    display: none;
    height: 30px;
}

@media (max-width: 1540px) {
    .services {
        padding: 60px;
    }
}

@media (max-width: 1300px) {
    .intro__circles {
        top: 85%
    }
}

@media (max-width: 1024px) {
    .header__button-letter,
    .intro__arrows 
    {
        display: none
    }

    .services {
        padding: 50px 30px;
    }
}

@media (max-width: 768px) {
    .header__logo {
        height: 19px;
    }

    .header__phone {
        display: none;
    }

    .services {
        padding: 40px 0;
    }

    .services__card-image-wrapped {
        display: flex;
        justify-content: space-between;
    }

    .services__card-link {
        display: block;
    }

    .services__card {
        background-color: #ffffff;
        box-shadow: 5px 5px 5px rgb(219, 219, 219);
    }

    .services__title {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .services__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 520px) {
    .header__country,
    .header__button-support,
    .header__button-basket {
        display: none;
    }

    .intro__circles {
        top: 80%;
        left: 40%;
    }

    .services {
        padding: 32px 0;
    }

    .services__title {
        font-size: 24px;
        padding-bottom: 16px;
    }

    .services__cards {
        grid-template-columns: 1fr;
    }
}