@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Montserrat", serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__first-half,
.header__second-half,
.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
}

.header__menu {
    display: grid;
    gap: 6px;
}

.header__menu-item {
    border: 1px solid black;
    width: 25px;
}

.header__menu-item:first-child {
    width: 15px;
}

.header__phone p {
    margin: 0;
}

.header__phone-number {
    font-size: large;
}

.header__callback {
    color: #00AEEF;
    text-decoration: underline dashed;
}

.header__button {
    border: none;
    background-repeat: no-repeat;

}

.header__button--search,
.header__button--support,
.header__button--basket,
.header__button--user {
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.header__button--search {
    background-image: url('./image/search.png');
}

.header__button--support {
    background-image: url('./image/Support.png');
}

.header__button--basket {
    background-image: url('./image/basket.png');
}

.header__button--user {
    background-image: url('./image/user.png');
}

.header__button-letter,
.intro__button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    background-color: #00AEEF;
    border: none;
    border-radius: 5px;
}

h1 {
    font-weight: 300;
}

.intro {
    background: url(./image/background1920.png);
    height: 1080px;
    display: grid;
}

.intro__container {
    display: flex;
    align-items: center;
    gap: 15vh;
    align-self: end;
}

.intro__content {
    max-width: 839px;
    font-size: 56px;
}

h1, h2{
    margin: 0;
}

.intro__subtitle {
    font-weight: 300;
    font-size: 52px;
}

.intro__list {
    font-size: 16px;
}

.intro__title--small,
.intro__subtitle--small,
.intro__text {
    display: none;
}

.intro__button{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.intro__arrow{
    border: none;
    width: 30px;
    height: 60px;
}

.intro__arrow--right{
    background: url(./image/arrow_right.png);
    margin-left: auto;
}

.intro__arrow--left{
    background: url(./image/arrow_right.png);
    transform: rotate(180deg);
}

.intro__circles {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 2vh;
    align-self: self-end;
    margin-bottom: 1vh;
}

.intro__circles div {
    border: 10px solid #F2F2F2;
    border-radius: 50%;
}

.intro__circles div:first-child {
    border-color: #00AEEF;
}

.services {
    padding: 80px 220px;
    background-color: #FCFCFC;
}

.services__title {
    font-size: 50px;
    padding-bottom: 32px;
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
}

.services__card {
    border-radius: 5px;
    padding: 1vh;
}

.services__card:hover {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgb(219, 219, 219);
}

.services__card-link {
    display: none;
    height: 30px;
}

@media (max-width: 1540px) {

    /* @media (max-width: 1440px) { */
    .intro {
        background: url(./image/background1440.png);
        height: 1024px;
    }

    .intro__container {
        gap: 0;
    }

    .intro__title--large,
    .intro__subtitle--large,
    .intro__list {
        display: none;
    }

    .intro__title--small,
    .intro__subtitle--small,
    .intro__text {
        display: block;
    }

    .intro__subtitle {
        font-size: 52px;
        font-weight: 1000;
        color: #7c7d82;
    }

    .intro__title {
        font-size: 64px;
        font-weight: 1000;
    }

    .intro__text {
        font-size: 18px;
        max-width: 630px;

    }

    .services {
        padding: 60px;
    }
}

@media (max-width: 1024px) {
    .intro {
        background: url(./image/background1024.png);
        height: 768px;

    }
/* 
    .intro__container {
        align-items: center;
        padding: 0;
    } */

    .intro__subtitle {
        font-size: 40px;
    }

    .intro__title {
        font-size: 48px;
    }

    .intro__text{
        font-size: 18px;
        max-width: 450px;
    }

    .header__button-letter,
    .intro__arrow {
        display: none
    }

    .services {
        padding: 50px 30px;
    }
}

@media (max-width: 768px) {
    .header__logo {
        height: 19px;
    }

    .header__phone {
        display: none;
    }

    .intro {
        background: url(./image/background768.png);
        height: 1024px;
    }

    .intro__container {
        align-self: start;
        padding: 15vh 1vh;
    }

    .intro__subtitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 40px;
    }

    .intro__text {
        font-size: 18px;
        max-width: 720px;
    }

    .services {
        padding: 40px 0;
    }

    .services__card-image-wrapped {
        display: flex;
        justify-content: space-between;
    }

    .services__card-link {
        display: block;
    }

    .services__card {
        background-color: #ffffff;
        box-shadow: 5px 5px 5px rgb(219, 219, 219);
    }

    .services__title {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .services__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 520px) {

    .header__country,
    .header__button--support,
    .header__button--basket {
        display: none;
    }

    .intro {
        background: url(./image/background320.png);
        height: 629px;
    }
    
    .intro__container {
        padding: 3vh 1vh;
    }

    .intro__subtitle {
        font-size: 24px;
    }

    .intro__title {
        font-size: 32px;
    }

    .services {
        padding: 32px 0;
    }

    .services__title {
        font-size: 24px;
        padding-bottom: 16px;
    }

    .services__cards {
        grid-template-columns: 1fr;
    }
}